---
import '../../styles/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
const writings = (await getCollection('writings')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
const title = "Writings";
const description = "A collection of my writings.";
---
<BaseLayout title={title} description={description}>
	<h2>{title}</h2>
	<div class="writing-listing">
	<ul>
		{writings.map((post) => (
			<li>
				<FormattedDate date={new Date(post.data.pubDate)}/>
				&emsp;
				<a href={`/${post.collection}/${post.slug}/`}>{post.data.title}</a>
			</li>))}
	</ul>
</div>
</BaseLayout>
<style>

	.writing-listing {
		min-height: 80vh;
		display: flex;
		align-items: center;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style-type: none;
		padding-left: 1rem;
		width: 100%;
	}
	ul li {
		display: flex;
		padding-bottom: 0.8rem;
	}
	ul li :global(time) {
		text-align: right;
		flex: 0 0 10rem;
	}

	@media (max-width: 756px) {
		.writing-listing ul li  {
				font-size: smaller;
		}

		ul li :global(time) {
			flex: 0 0 6rem;
		}
	
	}

	@media (max-width: 459px) {
		.writing-listing ul li  {
				padding-bottom: 0.3rem;
		}

		ul li :global(time) {
			flex: 0 0 5rem;
		}
	
	}


</style>