---
import { Image } from 'astro:assets';
import arttu from "../images/arttuv-bw.jpeg"
import { getCollection } from 'astro:content';
import Comment from './Comment.astro';
import FormattedDate from '../components/FormattedDate.astro';
const comments = (await getCollection('comments')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
const writings = (await getCollection('writings')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<div class="home-page">
    <div class="welcome-container">
        <div class="hello-text">
            <h1>
                Hello, I'm Arttu!
            </h1>
            <p>
                I’m a software development consultant. I write code. I facilitate and study teamwork. I’m fascinated by and try to understand the challenge of complexity.
            </p>

            {writings.slice(0, 3).map((post) => (
               <article class="writing-preview">
                    <div class="header-area">
                        <h2><a href={`/${post.collection}/${post.slug}/`}>{post.data.title}</a></h2>
                        <FormattedDate date={new Date(post.data.pubDate)}/>
                    </div>
                    <div class="summary-area">
                        <p>{post.data.summary}</p>
                        
                    </div>
                    <div class="footer-area">
                        
                        <a class="read-more" href={`/${post.collection}/${post.slug}/`}>Read more →</a>
                    </div>                    
                </article> 
            ))}
            <span class="button-container">
                <a href="/writings/">All writings →</a>
            </span>

            <article>
                <h2>What is a software development consultant?</h2>
                <hr />
                <p>I define it to be a person who has a wide understanding of software development, can help others to improve their process of building digital solutions, and in general takes ownership of the outcomes.</p>
                <p>
                    As Block wrote in <a href="https://www.peterblock.com/books/flawless-consulting-a-guide-to-getting-your-expertise-used-3rd-edition-enhanced-ebook/">Flawless Consulting</a>, consultants are in a unique position as they don't have vested interests in problem solving. 
                    I honestly feel I have been able to do better work focusing on outcomes, when working as an "outsider". 
                    You can read more about my <a href="/writings/consulting">thoughts on consulting</a>.
                </p>
                <article class="writing-preview">
                    <div class="header-area">
                        <h2><a href={`/author/`}>Arttu Viljakainen</a></h2>            
                        Software development consultant
                    </div>
                    <div class="summary-area">
                    <p>I’ve been coding for a living for 15 years, and writing code for some 20 years. I intend to keep on doing that.</p>
                    <br />
                    <p>
                        Teams are essential in creating software: combining interdisciplinary skills in a way that makes the whole more than the sum of each individual requires intentional effort.
                        These days, most things worth doing require a team. Skills and viewpoints needed are just too diverse for any individual.
                    </p>
                    <br />
                    <p>
                        I intend to study teams and get better at making exceptional teams emerge.
                    </p>
                    <br />
                    <p>
                        Software happens in a complex world, in which you can’t predict the future. That’s why we have agile (<a href="/writings/agile-still-relevant-in-2024">which is still relevant, by the way</a>). I think it is essential to understand the difference between complicated and complex environments, and act accordingly. Agile never looks the same, and how to make it work is both interesting and rewarding.
                    </p>
                    </div>
                    <div class="footer-area">
                        
                        <a class="read-more" href={`/author/`}>Author →</a>
                    </div>                    
                </article> 
               
            </article>
            <div class="bottom-part-text">
                <h2>I'm a generalist</h2>
                <p>
                    Coding got me to the field of software development, but I may have stayed because of the people stuff.
                </p>
                <p>
                    I'm increasingly interested in the human side of software development. Issues in projects are rarely related to technology, but on how to work productively and sustainably as a team, and on how to choose what to build next.
                </p>
                <p>
                    Be it coding, teamwork, or processes, I feel like I have a lot to learn. I'm still excited about it.
                </p>

            </div>
        </div>
        <div class="arttu-photo">
            <Image src={arttu} alt="Arttu" loading="eager"/>
        </div>
    </div>
    <section class="feed-area">
        <h2>Feed</h2>
        <div class="comment-listing">
            <ul>
                {comments.map(comment => (
                <li>
                    <Comment {comment} />
                </li>  
                ))}
            </ul>
        </div>
    </section>
</div>

<style>
 
    .button-container {
        display: flex;
        justify-content: center;
        }
    button {
        background-color: #000;
        color: #F5F5F5;
        border: none;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
        font-size: smaller;
        cursor: pointer;
    }
    .home-page {
        width: 100%;
        margin: auto;
    }
    .welcome-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    .hello-text {
        max-width: 70ch;
        align-self: start;
    }
    .arttu-photo {
        align-self: start;
        position: sticky;
        top: 5rem;
        z-index: 0;
    }
    .arttu-photo img {
        object-fit: cover;
        width: 30vw;
        max-width: 20rem;
        max-height: 40vh;
        min-height: 280px;
    }

    .comment-listing {
    }
    .comment-listing ul {
		list-style-type: none;
		padding-left: 1rem;
        padding-right: 1rem;
		
	}
	.comment-listing li {
        margin-bottom: 0.5rem;
    }

    .feed-area h2 {
        text-align: center;
    }
    
    @media (max-width: 800px) {
        .welcome-container {
            margin-top: 2rem;
            flex-direction: column-reverse;
            justify-content: center;
            height: auto;
        }
        .hello-text {
            max-width: 100%;
            margin-top: 0;
        }
        
        h1 {
            margin: 0.5rem 0;
            text-align: center;
        }

        .arttu-photo {
            width: 100%;
            position: inherit;
            text-align: center;
        }
        .arttu-photo img {
            object-fit: cover;
            width: 100%;
            margin: 0 auto;
            max-width: 30ch;
            max-height: 50vh;
        }
        .bottom-part {
            margin-top: 2rem;
            flex-direction: column;
            justify-content: center;
            height: auto;
        }

        .bottom-part-text {
            max-width: 100%;
        }

        .bottom-part-image {
            width: 100%;
        }

        .bottom-part-image img {
            object-fit: cover;
            max-width: 100%;
            width: 100%;
        }
    }
</style>
