---
import mastodonComments from '../external-data/scholar.social-arttuv.json';
import FormattedDateTime from './FormattedDateTime.astro';
import HtmlContent from './HtmlContent.astro';
const { statusId } = Astro.props;
const data = mastodonComments[statusId];
---

{data && (
    <div class="mastodon-comment">
        <div>
            <a href={data.content.account.url}>{data.content.account.display_name}</a> shared this on Mastodon at <a href={data.content.url}><FormattedDateTime date={new Date(data.content.created_at)} /></a>
        </div>
        <HtmlContent htmlContent={data.content.content} />
        <div class="stats">Replies {data.content.replies_count}, Reblogs {data.content.reblogs_count}, Favourites {data.content.favourites_count}</div> 
        <div class="mastodon-comment-interact">
            <a href={data.content.url}>&larrhk;</a>
        </div>
    </div>
    )}

<style>
    .mastodon-comment {
        margin-top: 2rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    .mastodon-comment .stats {
        text-align: right;
        margin-bottom: 1rem;
    }

    :global(.mastodon-comment .html-content) {
        border-left: 1px solid black;
        padding-left: 1rem;
    }

    :global(.dark .mastodon-comment .html-content) {
        border-left: 1px solid white;
    }
    
    .mastodon-comment-interact {
        text-align: right;
        font-size: larger;
    }

    .mastodon-comment-interact a {
        text-decoration: none;
        display: inline-block;
    }
</style>